body {
  background-color: black;
  color: wheat;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
}
h1 {
  color: #66BFBF;
  font-size: 5.625rem;   /* 100% = 16px;  90px / 16px = 562.5%; 5.625em = 562.5% = 90px   */
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #151d3b;
  position: relative;
  padding-top: 100px;
  }

/* .middle-container {
}

.bottom-container {
} */

.skill-row {
  /* display: inline-block; */ /* makes center (my solution) */
  width: 50%;
  margin: 100px auto 100px auto; /* makes center (not my solution) */
  text-align: left;
  line-height: 2;
}

/* my solution to the challenge - Make each skill image have 25% the width of the skill row */
/* .skill-row > img { 
  width: 25%;
} */

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.pro {
  text-decoration: underline;
}


span {
  background-color: green;
}

.top-cloud {
  position: absolute;
  right: 33%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 33%;
  bottom: 300px;
}

#icon {
  width: 5px;
  height: 5px;
  /* width: 100%; */
  /* height: 100%; */
}

/* .top-cloud {
  position: relative;
  margin-top: 3%;
  margin-left: 22%;
}

.bottom-cloud {
  position: absolute;
  left: 34%;
} */